@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --blue: #4783e2;
    --gray: #4f5562;
    --lightgray: #757f87;
    --bluesmoke: #f8fbfe;
    --offwhite: #f8f8f8;
    --dark: #124265;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: "Poppins", sans-serif;
    color: var(--dark);
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

/* base.html */
.base {
    width: 100%;
    background-color: var(--offwhite)
}

nav {
    margin-bottom: -5vh;
}

h1,
h2,
h3 {
    background-color: var(--offwhite);
    font-family: "Lexend", sans-serif;
}

.row {
    --bs-gutter-x: 0rem !important;
}

#logo {
    width: 120px;
    opacity: 0.7;
}

button,
input[type="submit"] {
    background-color: var(--blue) !important;
    color: var(--bluesmoke) !important;
    border: none;
    padding: 5px 10px;
}

.shadow {
    box-shadow: -20px 15px 50px #00000015;
}

#logged {

    background-color: var(--blue);
    background-image: url("../static/assets/ppl-icon-white.png");
    background-size: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

footer {
    color: var(--lightgray);
    padding: 0.5rem 0.75rem;
    border-top: 3px solid #4783e261;
}

footer div {
    padding-top: 0.75rem;
    padding-bottom: 0.25rem;
    opacity: 0.7;
}

/* signup.html */
.header {
    color: var(--dark)
}


/* index.html */
.index-button {
    padding: 10px 14%;
    box-shadow: -50px 50px 40px #00000015;
}

.intro-title {
    font-size: min(7.5vw, 54px);
    font-weight: 400;
}

.intro-text {
    font-size: min(4vw, 21px);
    color: var(--lightgray);
    line-height: 1.4;
    letter-spacing: 0.5px;
}

.btn-cont {
    width: 36%;
}

.brder {
    border-radius: 6px;
    border: 2px solid #ececec;
    width: 14rem;
}

.dropdown_wrap {
    display: flex;
    justify-content: center;

}

/* login.html */
.login-wrap {
    padding: 5% 20%;
}

/* run.html */
.item,
.new-pin {
    display: flex;
    flex-flow: row;
    align-items: center;
    padding: 5px 15px;
    margin: 5px 2%;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: var(--bluesmoke);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.pin-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.pin-text {
    padding: 0px;
    margin: 0px;
    margin-left: 10px;
}

#add-new-pins>div>div>input {
    font-size: 14px !important;
}

.delete-point {
    cursor: pointer;
    padding: 0px 10px;
    border-radius: 8px;
}


.title {
    padding: 0 5px;
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.title-cont {
    margin: 0 5%;
}

.item>button,
.add {
    border: none;
    border-radius: 0;
    /* font-weight: 300 !important; */
    font-size: 0.9rem;
}

.runs {
    display: flex;
    flex-flow: row;
}

.add {
    width: 40%;
    margin: 30px auto;
}

#add-new-pins {
    width: 96%;
}

#add-new-pins,
.entries {
    height: 260px !important;
    overflow-y: scroll;
}

#add-new-pins::-webkit-scrollbar,
.entries::-webkit-scrollbar {
    display: none;
}

#add-new-pins,
.entries {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.new-pin {
    padding: 10px;
}

#map {
    max-width: 600px;
    max-height: 450px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.color-mark {
    width: 15px;
    height: 15px;
    background-color: #9cb6d3;
    border: 1px solid #4f5562;
    border-radius: 50%;
}

/* profile.html */
.profile-pic {
    padding: 50px;
    border-radius: 50%;
    background-color: var(--offwhite);
    background-image: url("../static/assets/ppl-icon-blue.png");
    background-size: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: -20px 15px 50px #00000015;
}

/* report.html */
.report-container {
    width: 60%;
    padding: 20px 50px;
    box-shadow: -20px 15px 60px #00000020;
    margin: 15px 5px;
}

.image-container {
    width: 30%;
}

#loader {
    margin: auto;
    margin-top: 40vh;
}

#login_button {
    font-size: 1.05rem !important;
    padding: 0.4rem 1.7rem !important
}

#start_button {
    font-size: 21px !important;
    padding: 0.5rem 7rem !important;
}

.bgr {
    background-color: var(--offwhite)
}

#start_button:hover,
.auth_login:hover,
#report_button:hover,
#login_button:hover,
.item>button:hover {
    background-color: #1871ff !important;
}

.auth_login,
.nav_buttons button {
    padding: 0.5rem 2rem !important;
}

#report_button {
    padding: 0.5rem 2.4rem !important;
    font-size: 1.05rem !important;
}

.add_button_class {
    padding: 12px 40px !important;
}

.add_button_class:hover {
    background-color: #1871ff !important;
}

.disabled-btn {
    background-color: #d3d3d3 !important;
    color: #a9a9a9 !important;
}

.disabled-btn:hover {
    background-color: #d3d3d3 !important;
    color: #a9a9a9 !important;
}

.specific-location {
    cursor: pointer;
}

.selected-location {
    outline: 2px solid #1871ff !important;
    border-radius: 3px;
}

#map_wrapper {
    display: flex;
}

#cards-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    align-content: center;
    flex-wrap: inherit;
}

.sort {
    opacity: 0.5;
    font-size: 14px;
}

.add_buttons button {
    background-color: #3c9c76 !important;
    padding: 0.5rem 2.4rem !important;
}

#map button {
    background-color: var(--offwhite) !important;
    color: inherit !important;
}

.btn-cont {
    display: flex;
    justify-content: space-around;
}

.dropdown_wrap {
    position: relative;
}

.auth_text {
    text-align: center;
    margin-bottom: -5px;
    font-size: larger;
    color: var(--dark);
}

#auth-form {
    padding-top: 40px;
    max-width: 40vw;
    width: 355px;
}

#auth-form input {
    margin-bottom: 0px;
    padding: 9px 20px !important;
    font-size: 14px;
    opacity: 0.8;
}

#auth-form h4 {
    padding-bottom: 5px;
}

#auth-form>form>input.auth_login.rounded.shadow.mt-2 {
    opacity: 1;
}

.modal-body {
    padding: 5% !important;
}

.data-titles {
    padding: 1.7rem;
    border-top: 1px solid #ededed;
}

#predicted-data0>div>div>div.d-flex.flex-column.justify-content-around>div>h3 {
    text-align: center;
    padding: 15px;
    font-family: 'Poppins';
}

#info0>div>div>ul>li {
    padding: 10px;
}

.modal-title {
    padding: 0.3rem 1.5rem !important;
    font-size: 18px;
}

#info0>div>div>h3 {
    font-size: 1.2rem;
    font-weight: 500;
    font-family: 'Poppins';
}

#modal-0>div>div>div.modal-footer>button {
    background-color: var(--dark) !important;
}

strong {
    font-weight: 600 !important;
}

.modal-header {
    border-bottom: none !important;
    padding: 10px 16px 8px 16px !important;
}

.nav-link {
    padding: 10px 40px !important;
}

.subtext {
    padding: 12px !important;
    text-align: center;
}

/* SIZE OF MODAL */
.custom-modal {
    max-width: 70% !important;
}

.ww {
    width: 30%;
}

.graphs {
    width: 100%;
}

.base {
    min-height: 100vh;
}

#loader {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#map>div>div.gm-style>div>div>div>div>div>div>div>div.gm-style-iw.gm-style-iw-c>div.gm-style-iw-chr>button
{
    width: 23px !important;
    height: 28px !important;
}

#map>div>div.gm-style>div>div>div>div>div>div>div>div.gm-style-iw.gm-style-iw-c>div.gm-style-iw-chr>button>span
{
    width: 14px !important;
    height: 14px !important;
    margin: 6px !important;
}

#LojadeCidadãoSaldanha>span:nth-child(3),
#LojadeCidadãoLaranjeiras>span:nth-child(3) {
    padding-right: 15px;
}

#input-fields>div {
    gap: 10px;
    flex-wrap: nowrap;
}

.alert, .alert-dismissibe {
    width: 40% !important;
    /* margin: 0 auto !important;  */
    background-color: rgba(71, 255, 74, 0.26) !important;
    padding: 13px !important;
    border: 1px solid #e8e8ea !important;
    opacity: 0.8 !important;
    padding-left: 1.6rem !important;
    position: fixed !important;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 600px;
    z-index: 1050;
    margin-top: 35px;
}

.alert-dismissible .btn-close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    padding: .6rem !important;
    opacity: 0.3 !important;
    background: transparent var(--bs-btn-close-bg) center / 0.8em auto no-repeat !important;
}

.fade {
    transition: opacity 1s ease-out !important;
}

@media (max-width: 1200px) {
    #cards-wrapper>div>div>button,
    #cards-wrapper>div>button {
        padding: 0.5rem 1.5rem !important;
    }
}

@media (max-width: 995px) {

    .color-mark {
        width: 15px;
        height: 15px;
    }

    .intro-text{
        font-size: 20px !important;
    }

    #cards-wrapper {
        padding-left: 0;
        padding-right: 0;
    }

    #cards-wrapper h3 {
        padding-bottom: 15px !important;
    }

    #map {
        height: 500px;
        margin-top: 50px;
    }
}

@media (max-width: 767.98px) {
    .modal-dialog {
        max-width: 90%;
    }

    .nav-tabs {
        flex-direction: column;
    }

    .footer-text {
        text-align: center !important;
    }

    .footer-text-center {
        margin-top: 1rem;
    }

    body>div>footer>div>div>p
    {
        font-size: 11px !important;
    }

    #map-wrapper {
        overflow: hidden;
    }
    
    #auth-form{
        padding-top: 30px;
    }

    h1 {
        font-size: 38px !important;
        font-weight: 500 !important;
    }

    #auth-form {
        max-width: 70vw;
    }

    body>div>footer>div {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

@media (max-width: 435px) {

    .color-mark {
            width: 15px;
            height: 10px;
        }

    #map {
        width: 100%;
        height: 420px;
        overflow: auto;
    }

    #content>div>p {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    #start_button {
        margin-top: 8px;
        width: 60vw;
        padding: 0.5rem 5rem !important;
    }

    .intro-text {
        font-size: 16px !important;
    }

    #input-fields>div {
        flex-wrap: wrap;
    }
}

.loader {
    position: relative;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 2px;
    width: 100px;
    height: 100px;
}

.loader>div {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    background: var(--blue);
    transform: scale(0.0);
    transform-origin: center center;
    animation: loader 2s infinite linear;
}

.loader>div:nth-of-type(1),
.loader>div:nth-of-type(5),
.loader>div:nth-of-type(9) {
    animation-delay: 0.4s;
}

.loader>div:nth-of-type(4),
.loader>div:nth-of-type(8) {
    animation-delay: 0.2s;
}

.loader>div:nth-of-type(2),
.loader>div:nth-of-type(6) {
    animation-delay: 0.6s;
}

.loader>div:nth-of-type(3) {
    animation-delay: 0.8s;
}

@keyframes loader {
    0% {
        transform: scale(0.0);
    }

    40% {
        transform: scale(1.0);
    }

    80% {
        transform: scale(1.0);
    }

    100% {
        transform: scale(0.0);
    }
}